
// tipografia //
$tipografia: 'Roboto', sans-serif;

// Colores //
$color-negro: #1B1B1D;
$color-gris: #eeeeee;
$color-celeste: #00b0ea;
$color-azul: #225380;
$color-rojo: #dd2534;
$gradiente: linear-gradient(90deg,#00b0ea 0%,rgba(34,83,128,1) 43%,#63080b 100%);





